.trix-dialogs{data: {trix_dialogs: true}}
  .trix-dialog.trix-dialog--image-slider{ data: { trix_dialog_attribute: 'image-slider', trix_dialog: 'image-slider'}}
    .trix-dialog__link-fields.input-fields.slider-fields
      .slider-preview
        .img-slider.twentytwenty-container
          %img.img.first{src: "#", alt: 'Top Photo', style: 'width: 100%;'}
          %img.img.second{src: "#", alt: 'Bottom Photo', style: 'height: 100%; width: 100%;'}
      .slider-markup
        %span.slider-show 
        .img-slider
          %img.img.first{src: "#", style: 'width: 100%;'}
          %img.img.second{src: "#", style: 'height: 100%; width: 100%;'}
      %input{type: 'text', class: 'slider-name', placeholder: 'Name this slider'}
      .button-group
        .first-slider-file.button Top Image
        .second-slider-file.button Bottom Image
        .add-slider.button Add to content


:css
  .slider-fields{
    padding: 0px 10px 0px 10px;
  }

  .slider-preview{
    width: 200px;
    max-width: 600px;
    max-height: 600px;
  }

  .slider-fields .button-group{
    margin-top: 10px;
  }
