.button-group.extras
  %button.trix-button.trix-button--text.image-slider{ type: 'button', tabindex: -1, title: 'Before/After Image Slider', data: { trix_action: 'image-slider' }}
    <|>
= render partial: 'spina/admin/partables/texts/custom_dialogs'
