.trix-dialogs{data: {trix_dialogs: true}}
  .trix-dialog.trix-dialog--image-slider{ data: { trix_dialog_attribute: 'image-slider', trix_dialog: 'image-slider'}}
    .trix-dialog__link-fields.input-fields.slider-fields
      %ul.slider-todo
        %li{data: { slider_list:'top' }} Select Top Image
        %li{data: { slider_list: 'bottom' }} Select Bottom Image
        %li{data: { slider_list: 'name' }} Name this slider
      .slider-preview
        .img-slider.twentytwenty-container
          %img.img.first{src: "#", alt: 'Top Photo', style: 'width: 100%;'}
          %img.img.second{src: "#", alt: 'Bottom Photo', style: 'height: 100%; width: 100%;'}
      .slider-markup
        %span.slider-show 
        .img-slider
          %img.img.first{src: "#", style: 'width: 100%;'}
          %img.img.second{src: "#", style: 'height: 100%; width: 100%;'}
      %input{type: 'text', class: 'slider-name', placeholder: 'Name this slider'}
      .button-group
        .first-slider-file.button Top Image
        .second-slider-file.button Bottom Image
        .add-slider.button Add to content


:css
  .slider-fields {
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  ul.slider-todo {
    margin: 5px;
    background-color: rgb(240,240,240);
    border: 0px rgb(100,100,100) solid;
    border-radius: 10px;
  }

  li {
    list-style-type: circle;
    list-style-position: inside;
    margin:10px;
    font-size: 16px;
    color: #6865b4;
  }

  .done {
    display: none;
  }

  .slider-preview {
    width: 400px;
    height: auto;
    max-width: 600px;
    max-height: 600px;
    padding: 5px;
    margin: 10px 10px 10px 0px;
    border: 1px rgb(100,100,100) solid;
    border-radius: 10px;
    background-color: rgb(240,240,240);
    font-size: 10px;
    overflow-y: scroll;
  }

  .image-slider {
    font-weight: 700;
  }

  .slider-markup {
    display: none;
  }

  .slider-show {
    display: none;
  }

  .slider-fields .button-group {
    margin-top: 10px;
  }
