:javascript
  function selectFirstImage(e) {
    var toolbar_id = $(this).closest('trix-toolbar').attr('id');
    $(this).addClass('btn-selected');
    $.get("#{ Spina::Engine.routes.url_helpers.admin_media_picker_path }" + "?trix_toolbar_id=" + toolbar_id + "&slider=first");
  }
  function selectSecondImage(e) {
    var toolbar_id = $(this).closest('trix-toolbar').attr('id');
    $(this).addClass('btn-selected');
    $.get("#{ Spina::Engine.routes.url_helpers.admin_media_picker_path }" + "?trix_toolbar_id=" + toolbar_id + "&slider=second");
  }
  function createListeners() {
    $('.first-slider-file').on('click', selectFirstImage);
    $('.second-slider-file').on('click', selectSecondImage);
    $('trix-editor').on('first-photo-selected', sliderController.photoAssignFirst);
    $('trix-editor').on('second-photo-selected', sliderController.photoAssignSecond);
    $('.slider-preview').on('preview-slider', sliderController.previewSlider);
    $('.add-slider').on('click', sliderController.addSlider);
    $('.add-slider').on('click', sliderController.clearList);
  }
  $(document).on("trix-initialize", function(event) {
    if ($('trix-toolbar').find('.trix-button--text.image-slider').length == 0) {
      $('.trix-button-group--text-tools').append(customTrixTools.sliderBtn);
      $('.trix-dialogs').append(customTrixTools.sliderDialog);
      createListeners();
    }
  });
