.extras {
  margin-bottom: 10px;
} 

.done {
  display: none;
}

.slider-fields {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ul.slider-todo {
    margin: 5px;
    background-color: rgb(240,240,240);
    border: 0px rgb(100,100,100) solid;
    border-radius: 10px;

    li {
      list-style-type: circle;
      list-style-position: inside;
      margin:10px;
      font-size: 16px;
      color: #6865b4;
    }
  }

  .slider-preview {
    width: 400px;
    height: auto;
    max-height: 400px;
    padding: 5px;
    margin: 10px 10px 10px 0px;
    border: 1px rgb(100,100,100) solid;
    border-radius: 10px;
    background-color: rgb(240,240,240);
    font-size: 10px;
    overflow-y: scroll;

    .image-slider {
      font-weight: 700;
    }
  }

  .slider-markup {
    display: none;

    .slider-show {
      display: none;
    }
  }

  .button-group {
    margin-top: 10px;
  }
}

.text-input{
  figure{
    &[data-trix-content-type=image-slider]{
      max-height: 400px;
      overflow: hidden;
    } 
  }
}